<!DOCTYPE html>
<html>
<head>
  <% include ./partials/layout/head %>
</head>
<body>

  <% include ./partials/layout/nav %>

  <div id="app">

    <% include ./partials/layout/tagline %>

    <div class="filters">
      <% include ./partials/filters/genre_filter %>
      <% include ./partials/filters/length_filter %>
      <% include ./partials/filters/age_filter %>
      <% include ./partials/filters/sorts.ejs %>
      <div class="filter-options">
        <button type="button" class="show-results btn btn-default"> Show Results </button>
        <button type="button" class="show-advanced btn btn-default"> Advanced Filters </button>
      </div>
    </div>

    <% include ./partials/modals/book_modal %>

    <div class="books">
      <ul class="books-list list-group">
        <!-- books go here -->
        <% data.forEach(function(book, i) { %>
          <li class="list-group-item book-row">
            <div class="book" data-toggle="modal" data-target="#bookModal">
              <div class="book_title"><%- book.title %></div>
              <div class="book_author"><%- book.author %></div>
            </div>
            <div class="book_data">
              <div class="book_genre"><%- book.genre %></div>
              <div class="book_length"><%- book.length + " pages (" + book.year + ") " %></div>
            </div>
            <div class="book_recommenders">
              <% book.recommenders.forEach(function(person, j) { %>
                <img class="img-circle" 
                      data-toggle="tooltip"
                      src=<%- JSON.stringify(book.thumbnails[j]) %>
                />
              <% }) %>
              <span class="glyphicon glyphicon-option-vertical" 
                    data-toggle="tooltip" title=<%- JSON.stringify(book.recommenders.join(', ')) %>>
                <a href="#"></a>
              </span>
            </div>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>

  <% include ./partials/layout/footer %>
  <% include ./partials/misc/twitter %>

  <script type="text/javascript">
    window.initBooksPage();
  </script>

</body>
</html>